<section aria-labelledby="buttons">
  <h2 id="buttons">Buttons</h2>
  <p>
    <a class="btn btn-large" href="#">Large Button</a> 
    <a class="btn" href="#">Normal Button</a> 
    <a class="btn btn-small" href="#">Small Button</a> 
    <a class="btn btn-success" href="#">Success Button</a> 
    <a class="btn btn-alert" href="#">Alert Button</a>
    <a class="btn btn-disabled" href="#">Disabled Button</a>
  </p>
  
  <p>
    <button class="btn">Form Button</button>
    <input class="btn" type="submit" value="Form Submit Button">
    <input class="btn" type="reset" value="Form Reset Button">
    <input class="btn" disabled="disabled" type="submit" value="Disabled Form Button">
  </p>
</section>