<section aria-labelledby="form-elements">
  <h2 id="form-elements">Fieldsets &amp; Form Elements</h2>
  
  <form>
    <fieldset>
      <h2>Form Element</h2>
  
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>
  
      <p>
        <label for="text_field">Text Field:</label> 
        <input type="text" id="text_field">
      </p>
  
      <p>
        <label for="text_area">Text Area:</label> 
        <textarea id="text_area"></textarea>
      </p>
  
      <p>
        <label for="select_element">Select Element:</label>
        <select id="select_element" name="select_element">
          <optgroup label="Option Group 1">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
          <optgroup label="Option Group 2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
        </select>
      </p>
  
      <p>Radio Buttons: 
        <label for="radio_1">
          <input type="radio" class="radio" id="radio_1" name="radio_button" value="radio_1"> Radio 1
        </label> 
        <label for="radio_2">
          <input type="radio" class="radio" id="radio_2" name="radio_button" value="radio_2"> Radio 2
        </label> 
        <label for="radio_3">
          <input type="radio" class="radio" id="radio_3" name="radio_button" value="radio_3"> Radio 3
        </label>
      </p>
  
      <p>Checkboxes: 
        <label for="check_1">
          <input type="checkbox" class="checkbox" id="check_1" name="checkboxes" value="check_1"> Checkbox 1
        </label> 
        <label for="check_2">
          <input type="checkbox" class="checkbox" id="check_2" name="checkboxes" value="check_2"> Checkbox 2
        </label> 
        <label for="check_3">
          <input type="checkbox" class="checkbox" id="check_3" name="checkboxes" value="check_3"> Checkbox 3
        </label> 
      </p>
      
      <p>Toggles: 
        <label class="toggle" for="toggle_1">
          <span class="toggle-label">Toggle 1</span>
          <input type="checkbox" checked="checked" class="toggle-input" id="toggle_1" name="toggle" value="toggle_1">
          <span class="toggle-text" data-off="No" data-on="Yes"></span>
          <span class="toggle-slide"></span>
        </label> 
        
        <label class="toggle toggle-alt" for="toggle_2">
          <span class="toggle-label">Toggle 2</span>
          <input type="checkbox" checked="checked" class="toggle-input" id="toggle_2" name="toggle" value="toggle_2">
          <span class="toggle-text" data-off="Off" data-on="On"></span>
          <span class="toggle-slide"></span>
        </label> 
        
        <label class="toggle toggle-dark" for="toggle_3">
          <span class="toggle-label">Toggle 3</span>
          <input type="checkbox" checked="checked" class="toggle-input" id="toggle_3" name="toggle" value="toggle_3">
          <span class="toggle-text" data-off="No" data-on="Yes"></span>
          <span class="toggle-slide"></span>
        </label> 
      </p>
  
      <p>
        <label for="password">Password:</label> 
        <input type="password" class="password" id="password" name="password">
      </p>
  
      <p><label for="file">File Input:</label>
        <input type="file" class="file" id="file" name="file">
      </p>
  
  
      <p><input class="btn btn-success" type="submit" value="Submit"></p>
    </fieldset>
  </form>
</section>