<section aria-labelledby="labels-badges">
  <h2 id="labels-badges">Labels &amp; Badges</h2>
  <h3>Labels</h3>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="label label-default">Default</span></li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="label label-note">Note</span></li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="label label-success">Success</span></li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="label label-warning">Warning</span></li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="label label-danger">Danger</span></li>
    <li>
      <h1>This is a Test Heading <span class="label label-note">v1.2.3</span></h1>
    </li>
    <li>
      <h2>Donec Nec Justo Eget Felis <span class="label label-danger">A really long label</span></h2>
    </li>
  </ul>
  
  <h3>Badges</h3>
  <ul>
    <li><a href="#">Notifications <span class="badge badge-default">12</span></a></li>
    <li>Hot Badge Style <span class="badge badge-hot">7</span></li>
    <li>Cool Badge Style <span class="badge badge-cool">7</span></li>
    <li><a href="#">Your Should Check Your Messages! <span class="badge badge-note">432</span></a></li>
  </ul>
</section>