// Colors
//////////////////////////////////////////////////////////////////////
$color-primary: #343434;
$color-primary-light: #555;
$color-secondary: #777;
$color-secondary-light: #999;
$color-secondary-pale: #ddd;
$color-white: #f3f3f3;
//
$color-links: #3366FF;
$color-links-secondary: darken($color-links, 21);
//
$color-error: #F5003D;
$color-warning: #F5B800;
$color-success: #2EB800;