// Colors: these colors rely on the palette function and color maps
//         from _config.scss
//////////////////////////////////////////////////////////////////////
$color-primary: palette(primary);
$color-primary-light: palette(primary, light);
$color-primary-dark: palette(primary, dark);
$color-secondary: palette(secondary);
$color-secondary-light: palette(secondary, light);
$color-secondary-pale: palette(secondary, x-light);
$color-black: palette(primary, xx-dark);
$color-white: palette(primary, xx-light);
//
$color-links: palette(blue);
$color-links-secondary: palette(blue, dark);
//
$color-error: palette(flashes, error);
$color-warning: palette(flashes, warning);
$color-success: palette(flashes, success);