// Basic configuration and overrides
//////////////////////////////////////////////////////////////////////
$base-border-radius: 0.25em;
$base-line-height: 1.5;
$font-stack: 'helvetica neue', helvetica, arial, sans-serif;
$transition-speed: 0.3s;
$base-button-padding: 0.625em 1em;

// set manual breakpoint variables
//////////////////////////////////////////////////////////////////////
$bp-med-val: "40em";//640px
$bp-med: "min-width: #{$bp-med-val}";
//
$bp-lg-val: "55em";//880px
$bp-lg: "min-width: #{$bp-lg-val}";
//
$bp-xlg-val: "68em";//1088px
$bp-xlg: "min-width: #{$bp-xlg-val}";

// Colors
//////////////////////////////////////////////////
// palette function reads a palette and a tone and returns the result
@function palette($palette, $tone: 'base', $opacity: false) {
  @if $opacity {
    @return rgba(map-get(map-get($palettes, $palette), $tone), $opacity);
  } @else {
    @return map-get(map-get($palettes, $palette), $tone);
  }
}

// color palettes map
$palettes: (
  // primary
  primary: (
    base:     #8A8A8A,
    xx-light: #EEF4F0, // white
    x-light:  #F2F2F2, // pale gray
    light:    #707070, // light gray
    dark:     #525252, // dark gray
    x-dark:   #333333, // very dark gray
    xx-dark:  #262626, // black
    
  ),
  
  // secondary
  secondary: (
    base:     #777777,
    x-light:  #D1D1D1, // pale gray
    light:    #B5B5B5, // light gray
    dark:     #5E5E5E, // dark gray
    
  ),
  
  // blue
  blue: (
    base:     #3366FF,
    dark:     #002EB8
  ),
  
  // flashes (errors, warnings, success)
  flashes: (
    error:    #F5003D,
    warning:  #F5B800,
    success:  #2EB800
  )
);

// fonts and typography
//////////////////////////////////////////////////

// base rem to px
//$base-font-size: 16;
@function rem($px, $base: 16) {
  @return (($px / $base) * 1)+rem;
}

// fontset feature function
@function _fontset-feature($feature, $family: $font-default, $set: 'base', $unit: null){
  $result: map-get(map-get($family, $set), $feature);
  
  @if $unit {
    @return ($result * 1+$unit);
  } @else {
    @return ($result * 1);
  }
}

// fontset family
@function _fontset-family($family) {
  $result: map-get($family, stack);
  @return unquote($result);
}

// calculate font size
@function calc-font-size($set, $family: $font-default) {
  @return _fontset-feature(font-size, $family, $set, $unit: px);
}

// calculate line height
@function calc-line-height($set, $family: $font-default) {
  @return _fontset-feature(line-height, $family, $set);
}

$font-sans: (
  stack: "'Helvetica Neue', Helvetica, Arial, sans-serif",
  
  x-small: (
    font-size: 12,
    line-height: 2
  ),
  small: (
    font-size: 14,
    line-height: 1.714286
  ),
  base: (
    font-size: 16,
    line-height: 1.5
  ),
  mid: (
    font-size: 18,
    line-height: 1.333333
  ),
  mid-large: (
    font-size: 24,
    line-height: 1
  ),
  large: (
    font-size: 32,
    line-height: 1.5
  ),
  x-large: (
    font-size: 48,
    line-height: 1
  ),
  xx-large: (
    font-size: 64,
    line-height: 1.125
  ),
  xxx-large: (
    font-size: 80,
    line-height: 1.2
  )
);

$font-default: $font-sans;