// Basic configuration and overrides
//////////////////////////////////////////////////////////////////////
$base-border-radius: 0.25em;
$base-line-height: 1.5;
$font-stack: 'helvetica neue', helvetica, arial, sans-serif;
$transition-speed: 0.3s;
$base-button-padding: 0.625em 1em;

// set manual breakpoint variables
//////////////////////////////////////////////////////////////////////
$bp-med-val: "40em";//640px
$bp-med: "min-width: #{$bp-med-val}";
//
$bp-lg-val: "55em";//880px
$bp-lg: "min-width: #{$bp-lg-val}";
//
$bp-xlg-val: "68em";//1088px
$bp-xlg: "min-width: #{$bp-xlg-val}";